<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload it on the IBM Watson studio. (If IBM Watson Cloud service does not work in your system, follow the alternate Step 2 below)

Step2(alternate): Upload it in your SN labs environment using the upload button which is highlighted in red in the image below:
Remember to upload this Jobs_API file in the same folder as your current .ipynb file

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Run all the cells of the Jobs_API file. (Even if you receive an asterik sign after running the last cell, the code works fine.)

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [ ]:
import requests # you need this module to make an API call
import pandas as pd

In [ ]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [ ]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [ ]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [ ]:
print(data)   # print the data just to check the output or for debugging

Print the number of astronauts currently on ISS.

In [ ]:
print(data.get('number'))

Print the names of the astronauts currently on ISS.

In [ ]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [3]:
#Import required libraries
import pandas as pd
import requests
import json

#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [ ]:
api_url="http://127.0.0.1:5000/data"
payload={"Key Skills":'Python'}
req=requests.get(api_url,params=payload)
print(req.json() )

In [32]:
baseurl=r'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json'
json_data=requests.get(baseurl).json()
api_url="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    number_of_jobs = 0
    payload={"Key Skills":technology}
    req=requests.get(api_url,params=payload)
    payload={'Key Skills':technology}
    if req.ok:
        data=req.json()
        number_of_jobs+=len(data)
    else:
        data=req.json()
        number_of_jobs+=len(data)
    
        
    return technology, number_of_jobs

Calling the function for Python and checking if it works.

In [33]:
get_number_of_jobs_T("Python")

('Python', 1173)

#### Write a function to find number of jobs in US for a location of your choice

In [28]:
def get_number_of_jobs_L(Location):
    payload={"Location":Location}
    req=requests.get(api_url,payload)
    return Location, len(req.json() )

Call the function for Los Angeles and check if it is working.

In [29]:
#your code goes here
get_number_of_jobs_L('Washington DC')

('Washington DC', 5316)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all locations for which you need to find the number of jobs postings.

In [40]:
#your code goes here
tech_list=['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']
loc_list= ["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle"]
tech_list

['C',
 'C#',
 'C++',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [37]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 30.1 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

Import libraries required to create excel spreadsheet

In [38]:
# your code goes here

from openpyxl import Workbook

Create a workbook and select the active worksheet

In [58]:
# your code goes here
wb=Workbook()                       
ws=wb.active

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [56]:
#your code goes here
def get_number_of_jobs_TandL():
    ws.append(['technology','location','number_of_jobs'])
   
    for tech in tech_list:
        for loc in loc_list:
            number_of_jobs = 0
            payload={"Key Skills":tech,'Location':loc}
            req=requests.get(api_url,params=payload)
            if req.ok:
                data=req.json()
                number_of_jobs+=len(data)
                ws.append([tech,loc,number_of_jobs] )

In [57]:
get_number_of_jobs_TandL()

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [53]:
#your code goes here
wb.save("github-job-postings.xlsx")

In [54]:
job_data = pd.read_excel("github-job-postings.xlsx")
job_data

      technology       location  number_of_jobs
0              C    Los Angeles             296
1              C       New York            1622
2              C  San Francisco             214
3              C  Washington DC            2664
4              C        Seattle            1668
5             C#    Los Angeles               5
6             C#       New York              41
7             C#  San Francisco               3
8             C#  Washington DC              68
9             C#        Seattle              49
10           C++    Los Angeles               3
11           C++       New York              43
12           C++  San Francisco               3
13           C++  Washington DC              55
14           C++        Seattle              41
15          Java    Los Angeles              43
16          Java       New York             326
17          Java  San Francisco              38
18          Java  Washington DC             516
19          Java        Seattle             354
20    JavaScript    Los Angeles               7
21    JavaScript       New York              51
22    JavaScript  San Francisco               7
23    JavaScript  Washington DC              61
24    JavaScript        Seattle              52
25        Python    Los Angeles              24
26        Python       New York             143
27        Python  San Francisco              17
28        Python  Washington DC             258
29        Python        Seattle             133
30         Scala    Los Angeles               0
31         Scala       New York               8
32         Scala  San Francisco               0
33         Scala  Washington DC               3
34         Scala        Seattle               4
35        Oracle    Los Angeles              17
36        Oracle       New York              95
37        Oracle  San Francisco              19
38        Oracle  Washington DC             143
39        Oracle        Seattle             110
40    SQL Server    Los Angeles               3
41    SQL Server       New York              36
42    SQL Server  San Francisco               2
43    SQL Server  Washington DC              53
44    SQL Server        Seattle              31
45  MySQL Server    Los Angeles               0
46  MySQL Server       New York               0
47  MySQL Server  San Francisco               0
48  MySQL Server  Washington DC               0
49  MySQL Server        Seattle               0
50    PostgreSQL    Los Angeles               0
51    PostgreSQL       New York               1
52    PostgreSQL  San Francisco               0
53    PostgreSQL  Washington DC               3
54    PostgreSQL        Seattle               1
55       MongoDB    Los Angeles               2
56       MongoDB       New York              25
57       MongoDB  San Francisco               2
58       MongoDB  Washington DC              32
59       MongoDB        Seattle              21

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [55]:
# your code goes here
#location and technology all have been collected within single function writeen in above code cell

## Author

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2022 IBM Corporation. All rights reserved.